@model _404.Models.Error404
@{
    ViewBag.Title = "Index 404";
}

<h2>404 - Page not found</h2>

<div class="imgWrap">
    <img src="@Url.Content("~/Images/Error/404.jpg")" title="Car..... I mean page not found" />
</div>

@using (Html.BeginForm("Index", "Error"))
{
    @Html.AntiForgeryToken()

    <div class="editor-label">
        @Html.LabelFor(model => model.UserMessage)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.UserMessage, new { rows = 10, cols = 50 })
        @Html.ValidationMessageFor(model => model.UserMessage, "", new { @class = "text-danger" })
    </div>
    <input type="submit" value="Submit and Return To Home" class="btn btn-primary" />
}